@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Get to Know Joel</h2>
<div>
    <p>Check out Joel Hilton's work:</p>
    <ul>
        <li><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></li>
        <li><a href="https://baconsale.com/">Baconsale</a></li>
    </ul>
    <p> Meet Joel Hilton, a passionate film enthusiast and the younger brother of Professor Hilton. With a fervent love for cinema coursing through his veins, 
        Joel has immersed himself in the world of film, having pursued a minor in Film Studies at BYU. Beyond academia, he extends his cinematic expertise as 
        a contracted movie reviewer for ClearPlay, lending his insights to enhance viewers' experiences. 
        Adding to his repertoire, Joel co-hosts a weekly podcast titled Baconsale, where he delves into the realms of films and pop culture, 
        sharing his knowledge and enthusiasm with eager listeners. With an impressive blend of academic grounding and hands-on experience, 
        Joel Hilton stands as a beacon of cinematic knowledge and passion.
    </p>
    <p>Joel Hilton at Baconsale:</p>
    <a href="https://baconsale.com/">
        <img src="~/img/BaconsaleKate.jpg" />
    </a>
</div>

